html {
  font-family: 'Source Code Pro', 'Menlo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  font-size: 10pt;
  background-color: #2b303b;
  color: #c0c5ce;
  word-wrap: break-word;
  margin: 0;
  padding: 3px 4px 10px 4px;
}

body { margin: 0; padding: 0; }

/* the html tag has these classes and attributes too */
body.normal {}
body.console {}
body[type=channel] {}
body[type=talk] {}
body[type=console] {}
body[channelname=#limechat] {}

hr { margin: 0.5em 2em; }
a {}
a:link { color: #a3be8c; text-decoration: none; }
a:hover { text-decoration: underline; }

/* lines */
.line { margin: 0 -4px; padding: 0 4px 1px 4px; }
.line[alternate=even] {}
.line[alternate=odd] {}
.line[type=action] .sender:before {
  content: "• ";
  white-space: nowrap;
}
.line[highlight=true] {
  background-color: #2b303b;
}

.url { word-break: break-all; }
.address { text-decoration: underline; word-break: break-all; }
.highlight { color: #bf616a; font-weight: normal; }
.time { color: #6b6f76; }
.place { color: #d08770; }

/* nickname for text messages */
.sender[type=myself] { color: #b48ead; }
.sender[type=normal] { color: #b48ead; }
.sender[type=normal][colornumber='0'] {}
.sender[type=normal][colornumber='1'] {}
.sender[type=normal][colornumber='2'] {}
.sender[type=normal][colornumber='3'] {}
.sender[type=normal][colornumber='4'] {}
.sender[type=normal][colornumber='5'] {}
.sender[type=normal][colornumber='6'] {}
.sender[type=normal][colornumber='7'] {}
.sender[type=normal][colornumber='8'] {}
.sender[type=normal][colornumber='9'] {}
.sender[type=normal][colornumber='10'] {}
.sender[type=normal][colornumber='11'] {}
.sender[type=normal][colornumber='12'] {}
.sender[type=normal][colornumber='13'] {}
.sender[type=normal][colornumber='14'] {}
.sender[type=normal][colornumber='15'] {}

/* message body */
.message[type=system] { color: #6b6f76; }
.message[type=error] { color: #bf616a; font-weight: bold; }
.message[type=reply] { color: #d08770; }
.message[type=error_reply] { color: #bf616a; }
.message[type=dcc_send_send] { color: #d08770; }
.message[type=dcc_send_receive] { color: #ddb700; }
.message[type=privmsg] {}
.message[type=notice] { color: #6b6f76; }
.message[type=action] { color: #6b6f76; }
.message[type=join] { color: #6b6f76; }
.message[type=part] { color: #6b6f76; }
.message[type=kick] { color: #6b6f76; }
.message[type=quit] { color: #6b6f76; }
.message[type=kill] { color: #6b6f76; }
.message[type=nick] { color: #6b6f76; }
.message[type=mode] { color: #6b6f76; }
.message[type=topic] { color: #6b6f76; }
.message[type=invite] { color: #6b6f76; }
.message[type=wallops] { color: #6b6f76; }
.message[type=debug_send] { color: #6b6f76; }
.message[type=debug_receive] { color: #65737e; }

/* mIRC color effects */
.effect[color-number='0'] {}
.effect[color-number='1'] {}
.effect[color-number='2'] {}
.effect[color-number='3'] {}
.effect[color-number='4'] {}
.effect[color-number='5'] {}
.effect[color-number='6'] {}
.effect[color-number='7'] {}
.effect[color-number='8'] {}
.effect[color-number='9'] {}
.effect[color-number='10'] {}
.effect[color-number='11'] {}
.effect[color-number='12'] {}
.effect[color-number='13'] {}
.effect[color-number='14'] {}
.effect[color-number='15'] {}
.effect[bgcolor-number='0'] {}
.effect[bgcolor-number='1'] {}
.effect[bgcolor-number='2'] {}
.effect[bgcolor-number='3'] {}
.effect[bgcolor-number='4'] {}
.effect[bgcolor-number='5'] {}
.effect[bgcolor-number='6'] {}
.effect[bgcolor-number='7'] {}
.effect[bgcolor-number='8'] {}
.effect[bgcolor-number='9'] {}
.effect[bgcolor-number='10'] {}
.effect[bgcolor-number='11'] {}
.effect[bgcolor-number='12'] {}
.effect[bgcolor-number='13'] {}
.effect[bgcolor-number='14'] {}
.effect[bgcolor-number='15'] {}
